*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: black;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.main{
    min-height: 100vh;
    background-color: aliceblue;
}